{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>CROWNPACK NIGERIA LIMITED.</h2>
            <h3>Crownpack Nig Ltd is one of Nigeria leading primary producing food and general merchandise companies. </h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              Crownpack produce all sort of packages for foods and general merchandise suchs as soaps, 
              detergents, hair accessories etc and PVC nylons 
              of different composition for different uses.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Crownpack is ISO22000-2018 (FOOD SAFETY MANAGEMENT SYSTEM) certified company</li>
              <li><i class="ri-check-double-line"></i> Crownpack is ISO9001-2015 (QUALITY POLICIES) certified company</li>
            </ul>
            <p class="fst-italic">
              Our team is working efficiently and we are ready to expand to world at large...


            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Factory Section ======= -->
    <section id="Factory" class="factory section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Factory</strong></h2>
          <p>About equipment, We own modern advanced production equipment, such as computer high speed 
            9 colours printing machines, widen large lamination machines; cutting and extrusion machines.
          </p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <a href="{% url 'section' %}"><img src="{% static 'crownpack_app/assets/img/team/team-1.jpg' %}" class="img-fluid" alt=""></a>
              </div>
              <div class="member-info">
                <h4>8 colors Printing Machine</h4>
                <span>Section-Flexibles</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <a href="{% url 'section' %}"><img src="{% static 'crownpack_app/assets/img/team/team-2.jpg' %}" class="img-fluid" alt=""></a>
              </div>
              <div class="member-info">
                <h4>Lamimating Machine</h4>
                <span>Section-Flexibles-Lamination</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <a href="{% url 'section' %}"><img src="{% static 'crownpack_app/assets/img/team/team-3.jpg' %}" class="img-fluid" alt=""></a>
              </div>
              <div class="member-info">
                <h4>Cutting Machine</h4>
                <span>Section-Cutting</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <a href="{% url 'section' %}"><img src="{% static 'crownpack_app/assets/img/team/team-4.jpg' %}" class="img-fluid" alt=""></a>
              </div>
              <div class="member-info">
                <h4>Extrusion Machine</h4>
                <span>Section-Extrusion</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

    

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-7.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->

{% endblock  %}