{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}


<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Cutting</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Cutting</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start project-single-section -->
<section class="project-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-7">
                <div class="project-single-img">
                    <img src="{% static 'crownpack_app/assets/images/project-single-img4.jpg' %}" alt>
                </div>
            </div>
            <div class="col col-md-5">
                <div class="project-single-details">
                    <h3>Cutting</h3>
                    <p>Flexible packages in their large formats goes into the cutting section either from <a href="{% url 'flexible' %}" >flexible </a>
                       or <a href="{% url 'extrusion' %}" >extrusion </a>. </p>
                    <p>The cutting section have series of machines that takes in the large format of flexibles produced
                        and reduced to the smallest fit of the product in view. Processes in the section are limited to the operation of the machine and <a href="{% url 'quality' %}" >Quality check </a>
                    </p>
                    <ul class="project-info">
                        <li><i class="fa fa-tag"></i> <span>Category:</span> Cutting</li>
                        <li><i class="fa fa-user"></i> <span>Head Of Department:</span> Mr Olaniyan Ayoade</li>
                        <li><i class="fa fa-calendar"></i> <span>Supervisor(s):</span> Mrs Olaniyan AG</li>
                        <li><i class="fa fa-external-link"></i> <span>Staffs::</span> 20</li>
                    </ul>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end project-single-section -->

{% endblock  %}