{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock%}


{% block content %}




  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/crownpack_app/assets/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h1>Welcome to <span>Crownpack Nig Ltd.</span></h1>
              <p>Crownpack Nig Ltd is one of Nigeria leading primary packaging of foods and general merchandise companies.</p>
              <div class="text-center"><a href="{% url 'about' %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/crownpack_app/assets/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to Crownpack!</h2>
              <p>Crownpack Nig Ltd is one of Nigeria leading primary packaging of foods and general merchandise companies</p>
              <div class="text-center"><a href="{% url 'about' %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/crownpack_app/assets/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to Crownpack!</h2>
              <p>What do you want to know about us? will you like to reach us to us?</p>
              <div class="text-center"><a href="{% url 'contact' %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>CROWNPACK NIGERIA LIMITED.</h2>
            <h3>Crownpack Nig Ltd is one of Nigeria leading primary producing food and general merchandise companies.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              Crownpack produce all sort of packages for foods and general merchandise suchs as soaps, 
              detergents, hair accessories etc and PVC nylons 
              of different composition for different uses.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Crownpack is ISO22000-2018 (FOOD SAFETY MANAGEMENT SYSTEM) certified company</li>
              <li><i class="ri-check-double-line"></i> Crownpack is ISO9001-2015 (QUALITY POLICIES) certified company</li>
            </ul>
            <p class="fst-italic">
              Our team is working efficiently and we are ready to expand to world at large...

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Flexibles</li>
              <li data-filter=".filter-card">Offset</li>
              <li data-filter=".filter-web">Extrusion</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>8 colors Printing Machine</h4>
              <p>Secton/Flexibles</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="8 colors Printing Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Cutting Machine</h4>
              <p>Section/Cutting</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Cutting Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Laminating Machine</h4>
              <p>Section/Flexibles</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Laminating Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Slitting Machine</h4>
              <p>Section/flexo</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Slitting Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Quality Control Office</h4>
              <p>Section/Quality Control</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Quality Control Office"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Rewinding Machine</h4>
              <p>Section/Flexibles</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Rewinding Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Die Cutting Machine</h4>
              <p>Section/Offset</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Die Cutting Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Die Cutting Machine</h4>
              <p>Section/Offset</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Die Cutting Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'crownpack_app/assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Extrusion Machine</h4>
              <p>Section/Extrusion</p>
              <a href="{% static 'crownpack_app/assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Extrusion Machine"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-7.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'crownpack_app/assets/img/clients/client-8.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->
  {% endblock  %}

  