{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}

<!-- start page-title -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>Section</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Section</li>
                </ol>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>        
<!-- end page-title -->


<!-- start of services -->
<section class="section-padding services-grid-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="services-grids services-grid-view">
                    <div class="grid">
                        <div class="inner mk-bg-img">
                            <div class="details ">
                                <div class="info">
                                    <img src="{% static 'crownpack_app/assets/images/services/img-1.jpg' %}" alt class="bg-image">
                                    <a href="{% url 'flexible' %}">
                                        <h3><i class="fi flaticon-construction"></i>8 colors Printing Machine</h3>
                                    </a>
                                    <p>Section/Flexible</p>
                                    <a href="{% url 'flexible' %}" class="more">Get Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner mk-bg-img">
                            <div class="details ">
                                <div class="info">
                                    <img src="{% static 'crownpack_app/assets/images/services/img-2.jpg' %}" alt class="bg-image">
                                    <a href="{% url 'flexible' %}">
                                        <h3><i class="fi flaticon-construction"></i> Laminating Machine</h3>
                                    </a>
                                    <p>Section/Flexible</p>
                                    <a href="{% url 'flexible' %}" class="more">Get Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner mk-bg-img">
                            <div class="details ">
                                <div class="info">
                                    <img src="{% static 'crownpack_app/assets/images/services/img-3.jpg' %}" alt class="bg-image">
                                    <a href="{% url 'extrusion' %}">
                                        <h3><i class="fi flaticon-construction"></i> Extrusion Machine</h3>
                                    </a>
                                    <p>Section/Extrusion</p>
                                    <a href="{% url 'extrusion' %}" class="more">Get Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner mk-bg-img">
                            <div class="details ">
                                <div class="info">
                                    <img src="{% static 'crownpack_app/assets/images/services/img-4.jpg' %}" alt class="bg-image">
                                    <a href="{% url 'offset' %}">
                                        <h3><i class="fi flaticon-construction"></i>Die Cutting Machine</h3>
                                    </a>
                                    <p>Section/Offset</p>
                                    <a href="{% url 'offset' %}" class="more">Get Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner mk-bg-img">
                            <div class="details ">
                                <div class="info">
                                    <img src="{% static 'crownpack_app/assets/images/services/img-5.jpg' %}" alt class="bg-image">
                                    <a href="{% url 'offset' %}">
                                        <h3><i class="fi flaticon-construction"></i>Komori Offset Printing Machine</h3>
                                    </a>
                                    <p>Section/Offset</p>
                                    <a href="{% url 'offset' %}" class="more">Get Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="inner mk-bg-img">
                            <div class="details ">
                                <div class="info">
                                    <img src="{% static 'crownpack_app/assets/images/services/img-6.jpg' %}" alt class="bg-image">
                                    <a href="{% url 'quality' %}">
                                        <h3><i class="fi flaticon-construction"></i>Quality Control Lab</h3>
                                    </a>
                                    <p>Section/Quality Control</p>
                                    <a href="{% url 'quality' %}" class="more">Get Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end services-grids -->
            </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="all-services">
            <a href="{% url 'full section' %}" class="theme-btn">Load More</a>
        </div>
    </div> <!-- end container -->
</section>
<!-- end of services -->

{% endblock  %}
 
